/.vs/DependencyInjection/FileContentIndex/339ca42c-9793-4567-872f-5c1fc3c534b3.vsidx
/.vs/DependencyInjection/FileContentIndex/4032b4e5-bda3-486f-ba54-5ca24fd7a385.vsidx
/.vs/DependencyInjection/FileContentIndex/5590330f-f6a6-4c97-acbc-01bc9aa3b5a0.vsidx
/.vs/DependencyInjection/FileContentIndex/9ddc2738-bb0b-42aa-92a9-113a7dfb16e7.vsidx
/.vs/DependencyInjection/FileContentIndex/f721de5d-dc42-4212-a758-2710cc6bdd5d.vsidx
/.vs/DependencyInjection/FileContentIndex
